h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
p {
    background: rgb(30, 129, 210);
    color: rgb(20, 19, 20);
    font-style: italic;
    font-size: 16pt;
    margin: 0px 40px;
    border-radius: 10px;
}